extends layout

block content
	.container
		h1.menu-heading Ristorante Moderno

		.menu.flex-row.flex-wrap.flex-center
			.appetizers
				h2 Appetizers
				each appetizer in appetizers					
					.menu-item 
						span.menu-item-title #{appetizer.name} 
						span -
						span.menu-item-price  #{appetizer.price}
						p.menu-item-description #{appetizer.description}
			.entrees
				h2 Entrees				
				each entree in entrees					
					.menu-item 
						span.menu-item-name #{entree.name} 
						span -
						span.menu-item-price  #{entree.price}
						p.menu-item-description #{entree.description}
